<!DOCTYPE html>
<html>
  <head>
    <title>CraigRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "layouts/navbar" %>
      <div id="main-container" class="container">
        <div class="row">
          <div class="col-xs-3">
            <h3>Craig on Rails</h3>
          </div>
          <div class="col-xs-9">
            <%= render "layouts/errors", errors: @errors %>
            <%= yield %>
          </div>
        </div>
      </div>
  </body>
</html>
